body {
  margin: 0;
  background-color: grey;
  font-family: Helvetica, sans-serif;
}

.instructions {
  /* width: 410px; */
  /* font-size: 10px; */
}

.instructions ul {
  list-style-type: decimal;
}

.instructions h2 {
  text-decoration: underline;
}


.game-screen {
  grid-column: 3;
  display: flex;
  flex-direction: column;
}

.game-screen h1 {
  text-align: center;
  user-select: none;

}

canvas {

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: none;
}



.socials {
  /* width: 50px; */
  /* height: 50px; */
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column: 3;
  border: 1px solid black;
}

.socials a {
  text-decoration: none;

}


#icon {
  flex-direction: row;
  color: black;
  width: 50px;
  /* height: 50px; */
}



.instructions {
  border: 1px solid black;
  padding: 10px;
  width: 350px;
  height: 1200px;
  font-size: 12px;

  float: left;
  grid-column: 1;
  /* text-align: justify; */
  display: flex;
  flex-direction: column;
}


.warn{
  font-weight: bolder;
  font-size: 14px;
}


.game-play-wikia {
  float: right;
  font-size: 12px;
  border: 1px solid black;
  padding: 10px;
  width: 350px;
  height: 1200px;

  /* width: auto;
  height: auto; */

  /* text-align:justify; */

  grid-column: end;


}

.game-play-wikia li {
  font-weight: bold;

}


.contain {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;

}



.circle-extra-life {
  float: right;
  background: #FFD700;
  border-radius: 50%;
  width: 12px;
  height: 12px;


}

.circle-FasterFireRate {
  float: right;
  background: #B87333;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circle-Shield {
  float: right;
  background: #00FFFF;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circle-ClearPoisonMushrooms {
  float: right;
  background: #2A0134;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}


.circle-Wipeout {
  float: right;
  background: #880808;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circle-Barrell {
  float: right;
  background: #32CD32;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circle-Spread {
  float: right;
  background: #50C878;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circle-Splay {
  float: right;
  background: #B9F2FF;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}