body {
    margin: 0;
    background-color:grey;
    font-family: Helvetica, sans-serif;
  }
  
  .instructions {
  
    width: 410px;
  
  }
  
  .instructions ul {
    list-style-type: decimal;
  }
  
 
  
  .game-screen h1 {
    text-align: center;
  }
  
  canvas {
    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: none; 
  }
  


  .socials {
    /* width: 50px; */
    /* height: 50px; */
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
   

  }

  .socials a{
    text-decoration: none;

  }


  #icon{
    flex-direction: row ;
    color: black;
    width: 50px;
    height: 50px;
  }

